export OS_AUTH_URL=http:conroller
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_NAME=myproject
export OS_PROJECT_DOMAIN_NAME=default
export OS_USERNAME=amin
export OS_USER_DOMAIN_NAME=default
export OS_PASSWORD=password
